<!--================================
=            Controller            =
=================================-->
  <div class="row no-margin" ng-controller="roleCtrl">
    <div class="col-md-12 no-padding">
      <div class="panel panel-info">
       
        <div class="panel-body">

           <!-- toaster message -->
           <toaster-container toaster-options="{'time-out': 4000}"></toaster-container>
           <!-- toaster message -->

          <div class="button-group">
            <a data-toggle="modal" data-target=".addrolewindow" class="btn btn-default btn-labeled btn-sm">
              <i class="fa fa-plus-circle">
              </i>&nbsp;&nbsp;Assign Window
            </a>
          </div>

          <!--===========================
          =            Table            =
          ============================-->
          <table ng-table="usersTable_roleWindow" show-filter="true" class="table table-bordered table-striped text-center">
              <tbody>
                  <tr ng-repeat="rw in data_roleWindow">
                      <td data-title="'Role'" filter="{ 'roleName': 'text' }">{{rw.roleName}}</td>
                      <td data-title="'Window'" filter="{ 'windowName': 'text' }">{{rw.windowName}}</td>
                      <td data-title="'Actions'" class="w150">
                          <a data-toggle="modal" data-target=".addrolewindow" ng-click="editRoleWindow(rw.adWindowaccessId)" class="btn btn-success btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil-square-o"></i></a>

                          <a class="btn btn-info btn-xs" disabled>
                            <i class="fa fa-eye"></i>
                          </a>

                          <a class="btn btn-danger btn-xs" data-toggle="modal" data-target=".deleteRoleWindow" ng-click="delRoleWindow(rw.adWindowaccessId, data_roleWindow)" tooltip-placement="top" uib-tooltip="Delete"><i class="fa fa-trash"></i>
                          </a>

                          <a class="btn btn-primary btn-xs" disabled>
                            <i class="fa fa-plus">
                            </i>
                          </a>
                      </td>
                  </tr>
              </tbody>
            </table>
          <!--====  End of Table  ====-->
          <hr>

          <!--===========================================
          =            Add Role Window Modal            =
          ============================================-->
          <div class="modal fade addrolewindow" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" ng-click="clearModalOnClose()" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assign Window to Role</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal login-form" name="roleform1" ng-submit="saveRoleWindow(roleWindowData)">
                                <input type="hidden" ng-model="roleWindowData.adWindowaccessId">
                                <div class="form-group form-group required">
                                    <label class="control-label col-md-3" for="">Role</label>
                                    <div class="col-md-7">
                                        <input type="text" ng-model="currentRoleName" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label col-md-3" for="">Window</label>
                                    <div class="col-md-7">
                                        <select ng-model="roleWindowData.adWindowId" name="widnownm1" class="form-control inputEle" ng-options="win.adWindowId as win.windowName for win in Window" ng-required="true">
                                            <option value="">Select Window</option>
                                        </select>
                                        <div class="clearfix"></div>
                                        <p class="error" ng-show="roleform1.widnownm1.$invalid && roleform1.widnownm1.$touched">Please Select Window</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" ng-disabled="roleform1.$invalid" class="btn btn-success" onclick="$('.modal').modal('hide')">Assign Window</button>
                                    </div>
                                </div>
                                 <div class="clearfix"></div>
                                 <br>
                            </form>
                            <div class="clearfix"></div>
                        
                    </div>
                    </div>
                </div>
            </div>
          <!--====  End of Add Role Window Modal  ====-->
          
          <!--========================================
            =            Delete Role Window            =
            =========================================-->
            <div class="modal fade deleteRoleWindow" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                    <h4 class="modal-title">Delete Role Window
                    </h4>
                  </div>
                  <div class="modal-body">
                    <h4>Are you sure you want to delete 
                      <strong>{{deleterolewindowData.roleName}}&nbsp;&nbsp;{{deleterolewindowData.windowName}} ?
                      </strong>
                    </h4>
                    <br>
                    <a class="btn btn-danger btn-sm" ng-click="deleteRoleWindow(deleterolewindowData.adWindowaccessId)" onclick="$('.modal').modal('hide')">
                      <i class="fa fa-trash">
                      </i>&nbsp;&nbsp;Delete
                    </a>
                    <a class="btn btn-default btn-sm" data-dismiss="modal">
                      <i class="fa fa-trash">
                      </i>&nbsp;&nbsp;Cancel
                    </a>
                  </div>
                </div>
              </div>
            </div>
             <!--====  End of Delete Role Window  ====-->
         
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

<!--====  End of Controller  ====-->                          