<div class="card1">
    <div class="card-header">
       Executivewise Lead/Conversion
       <i class="fa fa-refresh pull-right" ng-click="refreshPage()" style="cursor: pointer;"></i>
    </div>
    <table ng-table="usersTable_Executive" show-filter="true" class="table table-bordered table-striped text-center">
        <tbody>
            <tr ng-repeat="bo in data_Executive">
                <td data-title="'Name '" filter="{'firstname': 'text'}" sortable="'firstname'">{{bo.firstname}}&nbsp;{{bo.middlename}}&nbsp;{{bo.lastname}}
                </td>
                <td data-title="'Lead Count'" filter="{'leadcount': 'text'}" sortable="'leadcount'">{{bo.leadcount}}
                </td>
                 <td data-title="'Conversion Count '" filter="{'conversioncount': 'text'}" sortable="'conversioncount'">{{bo.conversioncount}}
                </td>
            </tr>
        </tbody>
    </table>
</div>