<!--======================================
=            Password Setting            =
=======================================-->
<!-- toaster message -->
<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>
<!-- toaster message -->
<br>
<form class="form-horizontal" name="passwordForm" ng-submit="updatePasswordConfirm(passwordData)">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="form-group">
                 <label class="control-label col-sm-4" for="current">Current Password</label>
                 <div class="col-sm-8">
                    <input type="password" ng-model="passwordData.currentPassword" id="currentPassword" name="currentPassword" class="form-control inputEle" placeholder="Current Password" ng-click="passwordFocus(passwordData.currentPassword)" ng-required="true">
                    <div class="clearfix"></div>
                    <p class="error" ng-show="passwordForm.currentPassword.$invalid && passwordForm.currentPassword.$touched">Please enter current password</p>
                    <p class="">{{wrongMsg}}</p>
                    <p class="success">{{rightMsg}}</p>
                 </div>
            </div>

            <div class="form-group">
                 <label class="control-label col-sm-4" for="current">New Password</label>
                 <div class="col-sm-8">
                    <input type="password" ng-model="passwordData.newPassword" id="newPassword" name="newPassword" class="form-control inputEle" placeholder="Current Password" ng-disabled="disableField" ng-required="true">
                    <div class="clearfix"></div>
                    <p class="error" ng-show="passwordForm.newPassword.$invalid && passwordForm.newPassword.$touched">Please enter new password</p>
                 </div>
            </div>

            <div class="form-group">
                 <label class="control-label col-sm-4" for="current">Confirm Password</label>
                 <div class="col-sm-8">
                    <input type="password" ng-model="passwordData.confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control inputEle" placeholder="Current Password" ng-disabled="disableField" valid-password-c required />
                    <div class="clearfix"></div>
                    <p class="">{{errorMsg}}</p>
                 </div>
            </div>
			<br>
            <div class="form-group">
            	<label class="control-label col-sm-4" for="current"></label>
            	<div class="col-sm-8">
					<button class="btn btn-success btn-sm">Save</button>
            	</div>
            </div>
		</div>
	</div>
</form>
<!--====  End of Password Setting  ====-->

