<!--======================================
=            Password Setting            =
=======================================-->
<!-- toaster message -->
<toaster-container toaster-options="{'time-out': 4000}"></toaster-container>
<!-- toaster message -->
<br>
<form class="form-horizontal" name="adduserform" ng-submit="updateProfile(userData1)">
	<div class="row">
		
        <div class="form-group required">
      <label class="control-label col-md-2" for="">Name
      </label>
      <div class="col-md-3">
        <input type="text" name="fname" class="form-control inputEle" ng-model="userData1.firstname" placeholder="Enter First Name" ng-required="true">
        <div class="clearfix"></div>
        <p class="error" ng-show="adduserform.fname.$invalid && adduserform.fname.$touched">Please Enter First Name</p>
      </div>
      <div class="col-md-3">
        <input type="text" name="mname" class="form-control inputEle" ng-model="userData1.middlename" placeholder="Enter Middle Name" ng-required="true">
        <div class="clearfix"></div>
        <p class="error" ng-show="adduserform.mname.$invalid && adduserform.mname.$touched">Please Enter Middle Name</p>
      </div>
      <div class="col-md-3">
        <input type="text" name="lname" class="form-control inputEle" ng-model="userData1.lastname" placeholder="Enter Last Name" ng-required="true">
        <div class="clearfix"></div>
        <p class="error" ng-show="adduserform.lname.$invalid && adduserform.lname.$touched">Please Enter Last Name</p>
      </div>
    </div> <!--name ends-->

    <div class="form-group required">
      <label class="control-label col-md-2" for="">Gender</label>
      <div class="col-md-4">
         <label class="radio-inline">
         <input type="radio" name="gender" ng-model="userData1.gender" value="Male" ng-required="true">Male
         </label>
         <label class="radio-inline">
         <input type="radio" name="gender" ng-model="userData1.gender" value="Female" ng-required="true">Female
         </label>
         <label class="radio-inline">
         <input type="radio" name="gender" ng-model="userData1.gender" value="Transgender" ng-required="true">Transgender
         </label>
         <!-- <p class="error" ng-show="adduserform.gender.$invalid && adduserform.gender.$touched">Select Gender</p> -->
      </div>
      <label class="control-label col-md-2" for="">Marital Status</label>
      <div class="col-md-4">
         <label class="radio-inline">
         <input type="radio" name="mt" ng-model="userData1.maritalstatus" value="Unmarried" ng-required="true">Unmarried
         </label>
         <label class="radio-inline">
         <input type="radio" name="mt" ng-model="userData1.maritalstatus" value="Married" ng-required="true">Married
         </label>
         <label class="radio-inline">
         <input type="radio" name="mt" ng-model="userData1.maritalstatus" value="Divorced" ng-required="true">Divorce
         </label>
      </div>
   </div> <!--gender marital status-->

   <div class="form-group required">
      <label class="control-label col-md-2" for="">Contact No.</label>
      <div class="col-md-4">
         <input type="number" name="cont" class="form-control inputEle" ng-model="userData1.contactno" placeholder="Enter Contact Number" ng-required="true" maxlength="10" minlength="10" required>
         <div class="clearfix"></div>
         <p class="error" ng-show="adduserform.cont.$error.required">Please Enter Valid Contact Number</p>
         <p class="error" ng-show="adduserform.cont.$error.maxlength">Please Enter 10 digits Number</p>
         <p class="error" ng-show="adduserform.cont.$error.minlength">Too Short Number !!!</p>
      </div>
      <label class="control-label col-md-2" for="">Date Of Birth</label>
      <div class="col-md-3">
         <datepicker date-format="yyyy-MM-dd" date-max-limit= "{{currentDate}}">
          <input ng-model="userData1.dob" name="dob" placeholder="Enter Birthdate" class="form-control" restrict-to="[0-9]" type="text" ng-required="true"/>
         </datepicker>
         <div class="clearfix"></div>
          <p class="error" ng-show="adduserform.dob.$invalid && adduserform.dob.$touched">Please Enter Date</p>
      </div>
   </div> <!--contact dob ends-->

   <div class="form-group required">
      <label class="control-label col-md-2" for="">Email</label>
      <div class="col-md-4">
         <input type="email" class="form-control inputEle" name="email" ng-model="userData1.email" placeholder="Enter Email Address" ng-required="true" required>
         <div class="clearfix"></div>
          <p class="error" ng-show="adduserform.email.$invalid && adduserform.email.$touched">Please Enter Email</p>
      </div>

      <label class="control-label col-md-2" for="">Username</label>
      <div class="col-md-3">
         <input type="text" class="form-control inputEle" name="username" ng-model="userData1.username" placeholder="Enter Username" ng-required="true" required>
         <div class="clearfix"></div>
          <p class="error" ng-show="adduserform.username.$invalid && adduserform.username.$touched">Please Enter Username</p>
      </div>

   </div> <!--email designation ends-->
   <br>
   <div class="clearfix"></div>
   <hr>
   <div class="form-group">
      <div class="col-md-12 text-center">
        <button type="submit" ng-disabled="adduserform.$invalid" class="btn btn-success" onclick="$('.modal').modal('hide')">Update
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>

	</div>
</form>
<!--====  End of Password Setting  ====-->

