<!--=======================================
=            Login Page Styles            =
========================================-->
<style>
  body {
    padding: 0;
    margin: 0;
    background: url(assets/images/2.jpg) center center no-repeat/cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: rgba(255,255,255,0.9) !important;
    background-blend-mode: hue;
  }
  .row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*background: url(assets/images/login-bg.jpg) center center no-repeat/cover;*/
    flex-direction: column;
  }
  .col-md-4 {
    /*box-shadow: 3px 4px 4px #666;
    -webkit-box-shadow: 3px 4px 4px #666;*/
    padding: 0;
  }
  .panel {
    margin: 0;
  }

</style>
<!--====  End of Login Page Styles  ====-->
<div class="row no-margin row-flex" ng-controller="forgotPasswordCtrl">
<!-- toaster message -->
  <toaster-container toaster-options="{'time-out': 6000}"></toaster-container>
  <!-- toaster message -->
  <h2 class="text-center" style="color: #fff;margin: 0;margin-top: -100px;z-index: 2;">
    <img src="assets/images/logo.png">
  </h2>
    <br><br>
  <div class="col-md-4">
    <!--===========================
    =            Panel            =
    ============================-->
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Forgot Password</h3>
        </div>
        <div class="panel-body">
          <div ng-show="OperType == 0">
            <form name="forgotPassword" class="form-horizontal forgot-form" ng-submit="emailCheck(emailData)" style="padding: 15px;" novalidate>
                <div class="form-group">
                  <label for="">Enter Username to Reset Password</label>
                    <input type="text" class="form-control inputEle" name="Username" ng-model="emailData.username"  placeholder="Enter Username" ng-required="true">
                    <p class="error" ng-show="forgotPassword.username.$invalid && forgotPassword.username.$touched">Please enter Username</p>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" ng-disabled="forgotPassword.$invalid" class="btn btn-success">Send</button>
                    <a href="#/login" class="pull-right">Login</a>
                </div>
                <br>
                <p class="text-center">{{checkEmailMsg}}</p>
              </form>
              <div class="clearfix"></div>
            </div>
            <div ng-show="OperType != 0">
              <form name="resetPasswordForm" class="form-horizontal forgot-form" ng-submit="passwordSubmit(PasswordData)" style="padding: 15px;" novalidate>
              <input type="hidden" ng-model="PasswordData.adUserId">
                <div class="form-group">
                  <label for="">Enter New Password</label>
                    <input type="password" class="form-control inputEle" name="newpassword" ng-model="PasswordData.password"  placeholder="Enter Password" ng-required="true">
                    <p class="error" ng-show="resetPassword.newpassword.$invalid && resetPassword.newpassword.$touched">Please enter password</p>
                </div>
                <div class="form-group">
                  <label for="">Confirm Password</label>
                    <input type="password" class="form-control inputEle" name="newpassword1" ng-model="PasswordData.password1"  placeholder="Enter Password" ng-required="true" valid-password-c required>
                    <p class="">{{errorMsg}}</p>
                    <p class="error" ng-show="resetPassword.newpassword1.$invalid && resetPassword.newpassword1.$touched">Please enter password again</p>
                </div>
                <input type="hidden" ng-model="PasswordData.thisemailid">
                <br>
                <div class="form-group">
                    <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-success">Change</button>
                    <!-- <a href="#/login" class="pull-right">Login</a> -->
                </div>
                <br>
                <div class="form-group">
                <p>{{successMessage}}{{errorMessage}}</p>
                </div>
                <!-- <p class="text-center">{{checkEmailMsg}}</p> -->
              </form>
              <div class="clearfix"></div>
            </div>
        </div>
      </div>
      <!--====  End of Panel  ====-->
  </div>
</div>

<script type="text/javascript">
angular.module('theGuru')
 .controller('forgotPasswordCtrl', function($scope,$routeParams,$location,$http,CRUD_SERVICE,
  baseUrlSrvc,$filter,$log,$timeout, $route, Flash, $window, toaster) {

  $scope.OperType = $routeParams.ID;
  $window.document.title = "ITPreneur - Forgot Password";

  $scope.showResetPassword = false;
  $scope.showForgotPassword = true;

  $scope.emailCheck = function(data) {
    //console.log("data",data);

     var FormData = {
          formdata: data,
          url: baseUrlSrvc.baseUrl + 'checkEmailId'
      };

      var promisePut = CRUD_SERVICE.put($routeParams.ID, FormData);
      promisePut.then(function (pl) {

              // response
              $scope.PasswordData = pl.data;
              //console.log("$scope.PasswordData",$scope.PasswordData);
              if ($scope.PasswordData.code == 1) {
                
                toaster.success({title: "Success", body:"Mail Sent! Check your email and follow procedure to change your password.",tapToDismiss: true,showCloseButton: true});
              } else {
                toaster.error({title: "Error", body:"Username Doesn't Exist! Please Enter Correct Username.",tapToDismiss: true,showCloseButton: true});
              }
             
      }, function (err) {
           toaster.error({title: "Error", body:"Username Doesn't Exist! Please Enter Correct Username.",tapToDismiss: true,showCloseButton: true});
            
          //ClearModels();
      });
  }

  function ClearModels() {
      $scope.emailData.useremail = "";
      $scope.PasswordData = {};
  }

  /*=======================================
  =            Change Password            =
  =======================================*/
  $scope.resetPassword = function(data) {
    //console.log(data);
    var user_id = $scope.OperType;
    var user_pass = data.password;
    

    //console.log(user_id);
    var FormData = {
        formdata: data,
        url: baseUrlSrvc.baseUrl + 'newPassword/' + user_id + '/' + user_pass
    };
    var promisePost = CRUD_SERVICE.post(FormData);
    promisePost.then(function (pl) {
      //ClearModels();
        //$scope.successMessage = "Password Changed Successfully!";
        // $scope.templates =
        // [
        //   { url: 'view/authentication/login.html' }
        // ];
        // $scope.template = $scope.templates[0];
        toaster.success({title: "Success", body:"Password changed successfully. Please go to login page to login with new password.",tapToDismiss: true,showCloseButton: true});

       $timeout(function() {
            $scope.$apply(function () {
               //console.log("in route change");
               $location.path("/");
               $window.location.reload();
            });
        },5000);
         
    }, function (err) {
        //console.log(err);
      
         //$scope.errorMessage = "Error Occured While Changing Password";
         toaster.error({title: "Error", body:"Error in changing password. Please try again later.",tapToDismiss: true,showCloseButton: true});
        //ClearModels();
    });

  }
  /*=====  End of Change Password  ======*/
  
  $scope.passwordSubmit = function(passdata) {

    //console.log(passdata);
    if (passdata.password == passdata.password1) {
      $scope.resetPassword(passdata);
      $scope.errorMsg = "Password matched!";

    } else {
      $scope.errorMsg = "Password didn't matched!";
    }

  }

});
</script>