<!--================================
=            Controller            =
=================================-->
<div ng-include="'view/shared/header/header.html'"></div>

<div class="page-content" sidebar-directive="state">
    <div class="container-fluid">
      <div class="row no-margin" ng-controller="technologyCtrl">
        <div class="col-md-12 no-padding">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Technologies
              <span class="pull-right"><small>Total: </small><span class="badge" ng-cloak>{{Technologies.length}}</span></span>
              </h3>
            </div>
            <div class="panel-body">

              <!-- toaster message -->
              <toaster-container toaster-options="{'time-out': 4000}"></toaster-container>
              <!-- toaster message -->
              
              <div class="button-group">
                <a data-toggle="modal" data-target=".addtechnology" class="btn btn-default btn-labeled btn-sm">
                  <i class="fa fa-plus-circle">
                  </i>&nbsp;&nbsp;Add Technology
                </a>
                <a ng-click="refreshPage()" class="btn btn-default btn-labeled btn-sm btn-refresh">
                  <i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh
                </a>
              </div>
              <table ng-table="usersTable" show-filter="true" class="table table-bordered table-striped text-center">
                <tbody>
                  <tr ng-repeat="bo in data_technologymaster">
                    <td data-title="'Technology'" filter="{'technologyname': 'text'}" sortable="'technologyname'">{{bo.technologyname}}
                    </td>
                    <td data-title="'Actions'">
                      <a data-toggle="modal" data-target=".addtechnology" class="btn btn-success btn-xs" ng-click="edittechnology(bo.cTechnologyMasterId)" tooltip-placement="top" uib-tooltip="Edit">
                        <i class="fa fa-pencil-square-o">
                        </i>
                      </a> 
                    <a data-toggle="modal" data-target=".viewtechnology" class="btn btn-info btn-xs" ng-click="viewtechnology(bo.cTechnologyMasterId, data_technologymaster)" tooltip-placement="top" uib-tooltip="View">
                        <i class="fa fa-eye">
                        </i>
                      </a>
                      <a class="btn btn-danger btn-xs" data-toggle="modal" data-target=".deletetechnology" ng-click="delTechnology(bo.cTechnologyMasterId, data_technologymaster)" tooltip-placement="top" uib-tooltip="Delete">
                        <i class="fa fa-trash">
                        </i>
                      </a>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <!-- start edit modal -->
              <div class="modal fade addtechnology" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"  data-keyboard="false" data-backdrop="false">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="clearModalOnClose()" data-dismiss="modal">&times;
                      </button>
                      <h4 class="modal-title">Add Technology
                      </h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" name="addtechnologyform" ng-submit="saveTechnologyMaster(technologymasterData)" novalidate>

                        <div class="form-group form-group required">
                          <label class="control-label col-md-3" for="">Technology
                          </label>
                          <div class="col-md-7">
                            <input type="text" name="technology" class="form-control inputEle" ng-model="technologymasterData.technologyname" placeholder="Enter Technology Name" ng-required="true">
                            <div class="clearfix"></div>
                            <p class="error" ng-show="addtechnologyform.technology.$invalid && addtechnologyform.technology.$touched">Please Enter technology Name</p>
                          </div>
                        </div>

                        <div class="clearfix"></div>
                        <br>
                        <div class="form-group">
                          <div class="col-md-12 text-center">
                            <button type="submit" ng-disabled="addtechnologyform.$invalid" class="btn btn-success" onclick="$('.modal').modal('hide')">Save
                            </button>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end edit modal  -->

              <!-- start delete modal -->
              <div class="modal fade deletetechnology" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">Delete technology
                        </h4>
                      </div>
                      <div class="modal-body">
                        <h4>Are you sure you want to delete 
                          <strong>{{deletetechnologymasterData.technologyname}}?
                          </strong>
                        </h4>
                        <br>
                        <a class="btn btn-danger btn-sm" ng-click="delete(deletetechnologymasterData.cTechnologyMasterId)" onclick="$('.modal').modal('hide')">
                          <i class="fa fa-trash">
                          </i>&nbsp;&nbsp;Delete
                        </a>
                        <a class="btn btn-default btn-sm" data-dismiss="modal">
                          <i class="fa fa-trash">
                          </i>&nbsp;&nbsp;Cancel
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- end delete modal -->
             
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--====  End of Controller  ====-->

<script src="view/pages/Masters/Technology/TechnologyMasterCtrl.js"></script>

