<!--================================
=            Controller            =
=================================-->



  <div class="row no-margin" ng-controller="admissionactivitiesCtrl">
    <div class="col-md-12 no-padding">
      <div class="panel panel-info">
       
        <div class="panel-body">

          <!-- toaster message -->
          <toaster-container toaster-options="{'time-out': 4000}"></toaster-container>

          <div class="button-group">
            <a data-toggle="modal" data-target=".addenquiryactivities" class="btn btn-default btn-labeled btn-sm" ng-click="AddHideActivityStatus();">
              <i class="fa fa-plus-circle">
              </i>&nbsp;&nbsp;Add Activity
            </a> 
          </div>

          <table ng-table="usersTable_enquiryactivities" show-filter="true" class="table table-bordered table-striped text-center">
            <tbody>
              <tr ng-repeat="bo in data_enquiryactivities">
                <td data-title="'Activity Type'" filter="{'activitytype': 'text'}" sortable="'activitytype'">{{bo.activitytype}}
                </td>
                 <td data-title="'Description'" filter="{'description': 'text'}" sortable="'description'">{{bo.description}}
                </td>
                <td data-title="'Plan Date'" filter="{'followupdate': 'text'}" sortable="'followupdate'">{{bo.followupdate | date}}
                </td>
                 <td data-title="'Activity Date'" filter="{'activitydate': 'text'}" sortable="'activitydate'">{{bo.activitydate | date}}
                </td>
                 
                 <td data-title="'Activity Against'" filter="{'activityagainst': 'text'}" sortable="'activityagainst'">{{bo.activityagainst}}
                </td>

                <td data-title="'Activity By'" filter="{'username': 'text'}" sortable="'username'">{{bo.username}}
                </td>
               
                 <!-- <td data-title="'Activity Status'" filter="{'activitystatus': 'text'}" sortable="'activitystatus'">  
                 <span style="font-size: 12px;" class="label" ng-class="{'label-primary' : bo.activitystatus=='Pending','label-success' : bo.activitystatus=='Close'}">{{bo.activitystatus}}</span>
                </td> -->
                <td data-title="'Activity Status'" filter="{'activitystatus': 'text'}" sortable="'activitystatus'">  
                     
                         <select class="form-control inputEle" ng-model="model1" ng-change="OnActivityStatusChange(bo.acActivityId, model1)" ng-init="model1 = bo.activitystatus" ng-disabled="bo.activitystatus == 'Close'"> 
                        
                          <option value="Pending">Pending</option>
                          <option value="Close">Close</option>
                        </select>
                      </td>
                <td data-title="'Actions'" class="w150">
                  
                    <a data-toggle="modal" data-target=".addenquiryactivities" class="btn btn-success btn-xs"  tooltip-placement="top" uib-tooltip="Edit" ng-click="editEnquiryActivity(bo.acActivityId)">
                      <i class="fa fa-pencil-square-o">
                      </i>
                    </a> 

                    <a ng-click="viewActivity(bo.acActivityId, data_enquiryactivities)" data-toggle="modal" data-target=".viewactivity" class="btn btn-info btn-xs" tooltip-placement="top" uib-tooltip="View"><i class="fa fa-eye"></i>
                    </a>
                  
               
                  <a class="btn btn-primary btn-xs" data-toggle="modal" data-target=".addenquiryactivities" tooltip-placement="top" uib-tooltip="Add Activity" ng-click="AddHideActivityStatus();">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                  
                </td>
              </tr>
            </tbody>
          </table>
          <hr>

           <!--==================================
          =            Add Activity            =
          ===================================-->
          <div class="modal fade addenquiryactivities" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"  data-keyboard="false" data-backdrop="false">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="clearModalOnCloseActivity()" data-dismiss="modal">&times;
                    </button>
                     <h4 class="modal-title" ng-init="headingMessage='Add Activity'">{{headingMessage}}</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="enquiryactivityform" ng-submit="saveActivities(enquiryactivitiesData)" novalidate >
                    <input type="hidden" ng-model="enquiryactivitiesData.acActivityId">
                     <div class="form-group ">
                     <label class="control-label col-sm-2" for="">Student</label>
                        <div class="col-sm-4">
                            <input ng-model="fullName" class="form-control inputEle" disabled> 
                            
                        </div>                                  
                        <label class="control-label col-md-2" for="">Activity</label>
                        <div class="col-md-4" >
                            <select ng-model="enquiryactivitiesData.activitytype" name="activity" class="form-control inputEle" ng-required="true"> 
                              <option>Email</option>
                              <option>Call</option>
                              <option>Message</option>
                              <option>Visit</option>
                            </select>
                            <div class="clearfix"></div>
                            <p class="error" ng-show="enquiryactivityform.activity.$invalid && enquiryactivityform.activity.$touched">Please Select Activity</p>
                        </div> 
                      </div> 
                      <input type="hidden" ng-model="enquiryactivitiesData.eEnquiryFormId">
                      <div class="form-group ">
                         <label class="control-label col-md-2" for="">Description</label>
                          <div class="col-md-10">
                             <textarea class="form-control inputEle"  ng-model="enquiryactivitiesData.description" placeholder="Enter Description" ></textarea>
                          </div>   
                      </div>

                      <div class="form-group">

                      <label class="control-label col-md-2 mandatory" for="">Plan Date</label>
                        <div class="col-md-4">
                         <datepicker date-format="yyyy-MM-dd">
                            <input name="pland" ng-model="enquiryactivitiesData.followupdate" placeholder="Enter Date" class="form-control" ng-required="true" restrict-to="[0-9]" type="text"/>
                         </datepicker>
                         <div class="clearfix"></div>
                            <p class="error" ng-show="enquiryactivityform.pland.$invalid && enquiryactivityform.pland.$touched">Please Enter Plan Date</p>
                        </div>

                       <label class="control-label col-md-2" for="">Activity Date</label>
                        <div class="col-md-4">
                         <datepicker date-format="yyyy-MM-dd">
                            <input type="text" name="activityd" ng-model="enquiryactivitiesData.activitydate" placeholder="Enter Date" class="form-control"/>
                         </datepicker>
                         <!-- <div class="clearfix"></div>
                            <p class="error" ng-show="enquiryactivityform.activityd.$invalid && enquiryactivityform.activityd.$touched">Please Enter Activity Date</p> -->
                        </div>
                        
                     </div>

                     <div class="form-group ">
                      <div ng-hide="hideActivityStatus">                                 
                        <label class="control-label col-md-2" for="">Activity Status</label>
                        <div class="col-md-4" >
                            <select ng-model="enquiryactivitiesData.activitystatus" ng-init="enquiryactivitiesData.activitystatus = 'Pending'" class="form-control inputEle"> 
                              <option value="Pending">Pending</option>
                              <option value="Close">Close</option>
                            </select>
                        </div>
                        </div>

                        <label class="control-label col-md-2" for="">Activity Against</label>
                          <div class="col-md-4" >
                              <select ng-model="enquiryactivitiesData.activityagainst" ng-init="enquiryactivitiesData.activityagainst = 'Admission'" class="form-control inputEle" disabled> 
                                <option value="Lead">Lead</option>
                                <option value="Enquiry">Enquiry</option>
                                <option value="Application">Application</option>
                                <option value="Admission">Admission</option>
                              </select>
                          </div>
                      </div> 
                     
                     <br>
                      <div class="form-group">
                        <div class="col-md-12 text-center">
                          <button type="submit" ng-disabled="enquiryactivityform.$invalid" class="btn btn-success" onclick="$('.modal').modal('hide')">Save
                          </button>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                     </form>
                  </div>
                </div>
              </div>

          </div>
          <!--====  End of Add Activity  ====-->

          <!--===================================
          =            View Activity            =
          ====================================-->
          <div class="modal fade viewactivity" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" ng-click="clearModalOnCloseActivity()" data-dismiss="modal">&times;
                  </button>
                  <h4 class="modal-title">View Activity
                  </h4>
                </div>
                <div class="modal-body">
                  
                <form class="form-horizontal" novalidate>
                     <div class="form-group ">
                     <label class="control-label col-sm-2" for="">Student</label>
                     <label class="control-label col-sm-4" style="text-align: left;" for="">{{fullName}}</label>
                                                             
                        <label class="control-label col-md-2" for="">Activity</label>
                        <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.activitytype}}</label>
                      </div> 
                      <hr>
                      <div class="form-group ">
                         <label class="control-label col-md-2" for="">Description</label>
                         <label class="control-label col-sm-10" style="text-align: left;" for="">{{viewActivityData.description}}</label>  
                      </div>
                      <hr>
                      <div class="form-group ">
                        
                        <label class="control-label col-md-2" for="">Plan Date</label>
                        <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.followupdate | date}}</label>

                         <label class="control-label col-md-2" for="">Activity Date</label>
                         <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.activitydate | date}}</label>

                     </div>
                     <hr>
                     <div class="form-group ">                                
                        <label class="control-label col-md-2" for="">Activity Status</label>
                        <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.activitystatus}}</label>

                        <label class="control-label col-md-2" for="">Activity Against</label>
                        <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.activityagainst}}</label>
                      </div>
                      <hr>
                      <div class="form-group ">                                
                        <label class="control-label col-md-2" for="">Activity By</label>
                        <label class="control-label col-sm-4" style="text-align: left;" for="">{{viewActivityData.username}}</label>
                      </div>
                     
                      <div class="clearfix"></div>
                     </form>


                </div>
              </div>
            </div>
          </div>
          <!--====  End of View Activity  ====-->
        
         
        </div>
      </div>
    </div>
  </div>

<!--====  End of Controller  ====-->

 <script src="view/pages/Sales/Enrollment/Activity/EnActivitiesCtrl.js"></script>