<!--================================
=            Controller            =
=================================-->
<div ng-include="'view/shared/header/header.html'"></div>

<div class="page-content" sidebar-directive="state">
    <div class="container-fluid">
        <div class="row no-margin" ng-controller="districtCtrl">
              <div class="col-md-12 no-padding">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">District
                            <span class="pull-right"><small>Total: </small><span class="badge">{{District.length}}</span></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- alert messages -->
                        <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)">
                        </flash-message>
                        <!-- alert messages -->

                        <!--=============================
                        =            Buttons            =
                        ==============================-->
                        <div class="button-group">
                            <a data-toggle="modal" data-target=".addDistrict" class="btn btn-default btn-labeled btn-sm" ng-click="addForEnable()">
                                <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add District</a>
                            <a ng-click="refreshPage()" class="btn btn-default btn-labeled btn-sm">
                              <i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh
                            </a>
                        </div>
                        <!--====  End of Buttons  ====-->

                        <!--===========================
                        =            Table            =
                        ============================-->
                        <table ng-table="usersTable" show-filter="true" class="table table-bordered table-striped text-center">
                            <tbody>
                                <tr ng-repeat="ds in data">
                                    <td data-title="'State'" filter="{ 'statename': 'text' }">{{ds.statename}}</td>
                                    <td data-title="'District'" filter="{ 'districtname': 'text' }">{{ds.districtname}}</td>
                                    <td data-title="'Actions'" class="w150">
                                        <a data-toggle="modal" data-target=".addDistrict" class="btn btn-success btn-xs" ng-click="editDistrict(ds.cDistrictId)" tooltip-placement="top" uib-tooltip="Edit">
                                        <i class="fa fa-pencil-square-o"></i></a>

                                        <a class="btn btn-info btn-xs" disabled>
                                        <i class="fa fa-eye"></i></a>

                                        <a class="btn btn-danger btn-xs" data-toggle="modal" data-target=".deletedistrict" ng-click="delDistrict(ds.cDistrictId, data)" tooltip-placement="top" uib-tooltip="Delete">
                                        <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--====  End of Table  ====-->
                        <hr>
                        
                        <!--==================================
                        =            Add District            =
                        ===================================-->
                        <div class="modal fade addDistrict" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" sc_school_id>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" ng-click="clearModalOnClose()">&times;</button>
                                        <h4 class="modal-title">Add District</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" name="adddistform" ng-submit="save(districtData)" novalidate>
                                            <div class="form-group form-group required">
                                                <label class="control-label col-sm-4" for="">State</label>
                                                <div class="col-sm-8">
                                                    <select ng-model="districtData.cStateId" name="state" ng-options="st.cStateId as st.statename for st in State" class="form-control" ng-disabled="disableState" ng-required="true">
                                                        <option value="">Select State</option>
                                                    </select>
                                                    <div class="clearfix"></div>
                                                    <p class="error" ng-show="adddistform.state.$invalid && adddistform.state.$touched">Please Select State</p>
                                                </div>
                                            </div>
                                            <div class="form-group form-group required">
                                                <label class="control-label col-md-4" for="">District</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="distnm" class="form-control inputEle" ng-model="districtData.districtname" placeholder="Enter District Name" ng-required="true">

                                                    <div class="clearfix"></div>
                                                    <p class="error" ng-show="adddistform.distnm.$invalid && adddistform.distnm.$touched">Please Enter District Name</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-4 col-md-3">
                                                    <button type="submit" ng-disabled="adddistform.$invalid" class="btn btn-success" onclick="$('.modal').modal('hide')">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====  End of Add District  ====-->

                        <!--=====================================
                        =            Delete District            =
                        ======================================-->
                        <div class="modal fade deletedistrict" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="clearModalOnClose()">&times;</button>
                                    <h4 class="modal-title">Delete deletedistrict</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Are you sure you want to delete <strong>{{deletedistrictData.districtname}}?</strong></h4>
                                    <br>
                                    <a class="btn btn-danger btn-sm" ng-click="delete(deletedistrictData.cDistrictId)" onclick="$('.modal').modal('hide')"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>

                                    <a class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-trash"></i>&nbsp;&nbsp;Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====  End of Delete District  ====-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====  End of Controller  ====-->

<script src="view/pages/RegionSetting/District/districtCtrl.js"></script>
