<!--================================
=            Controller            =
=================================-->
<div ng-include="'view/shared/header/header.html'"></div>



<div class="page-content" sidebar-directive="state" >
    <div class="container-fluid">
        <div class="row no-margin" ng-controller="enrollmentCtrl as Inst">
         
            <div class="col-md-12 no-padding">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Admission</h3>
                    </div>
                    <div class="panel-body">
                        <!-- alert messages -->
                        <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)">
                        </flash-message>
                        <!-- alert messages -->
                        <form class="form-horizontal mb40" name="enrollmentDataform" ng-submit="UpdateEnrollment(enrollmentData)" novalidate>
                        <input type="hidden" ng-model="enrollmentData.paymentstatus">
                            <div class="button-group">
                                <a href="#/Admission Form" class="btn btn-default btn-labeled btn-sm">
                                    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
                                <a ng-click="refreshPage()" class="btn btn-default btn-labeled btn-sm">
                                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</a>
                                <a href="{{enrollmentData.path}}" target="_blank" class="btn btn-default btn-labeled btn-sm">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;Resume</a>
                            
                                <button type="submit" class="btn btn-success btn-labeled btn-sm">
                                <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Update</button>

                                

                                  <div class="form-group pull-right"> 
                                
                                <label style="float: left; line-height: 30px;"> Placement Status</label>
                                <div class="col-sm-6" >
                                 <select ng-model="enrollmentData.placementstatus" name="plcstat" class="form-control inputEle" ng-required="true">
                                      <option  value="Open">Open</option>
                                      <option  value="Placed">Placed</option>
                                      <option  value="Blacklisted">Blacklisted</option>
                                    </select>
                                     <div class="clearfix"></div>
                                     <p class="error" ng-show="enrollmentDataform.plcstat.$invalid && enrollmentDataform.plcstat.$touched">Select Status</p>
                                </div>

                                <div ng-show="enrollmentData.placementstatus=='Open'">
                                <i class="fa fa-circle" style="color: #00e699; font-size: 23px; line-height: 30px; margin-right: 1px; margin-left: -7px;"></i>
                                </div>

                                <div ng-show="enrollmentData.placementstatus=='Placed'">
                                <i class="fa fa-circle" style="color: #8db0f2; font-size: 23px; line-height: 30px; margin-right: 1px; margin-left: -7px;"></i>
                                </div>

                                <div ng-show="enrollmentData.placementstatus=='Blacklisted'">
                                <i class="fa fa-circle" style="color: #ff4d4d; font-size: 23px; line-height: 30px; margin-right: 1px; margin-left: -7px;"></i>
                                </div>

                              </div>
                            </div>
                            <hr>
                        <input type="hidden" ng-model="enrollmentData.eEnquiryFormId" name="">
                            <div class="form-group required">
                                <label class="control-label col-sm-2" for="">Branch</label>
                                <div class="col-sm-4">
                                   <input type="text"  class="form-control inputEle" ng-model="enrollmentData.branchname" ng-required="true" disabled>
                                </div>

                                  <label class="control-label col-sm-2" for="">Date</label>
                                <div class="col-sm-4">
                                   <datepicker date-format="yyyy-MM-dd">
                                      <input type="text" name="dat" ng-model="enrollmentData.date" placeholder="Enter Date" class="form-control" restrict-to="[0-9]" ng-required="true" />
                                   </datepicker>
                                   <div class="clearfix"></div>
                                   <p class="error" ng-show="enrollmentDataform.dat.$invalid && enrollmentDataform.dat.$touched">Please Enter Date</p> 
                                </div>
                             </div>

                             <div class="form-group required">
                               <label class="control-label col-sm-2" for="">Candidate Name</label>
                                <div class="col-sm-3">
                                   <input type="text" name="cadina" class="form-control inputEle" ng-model="enrollmentData.firstname" placeholder="Enter First Name" ng-required="true" >
                                   <div class="clearfix"></div>
                                   <p class="error" ng-show="enrollmentDataform.cadina.$invalid && enrollmentDataform.cadina.$touched">Please Enter FirstName</p>
                                </div>

                              
                                <div class="col-sm-3">
                                   <input type="text" name="midl" class="form-control inputEle" ng-model="enrollmentData.middlename" placeholder="Enter Middle Name" ng-required="true" >
                                   <div class="clearfix"></div>
                                   <p class="error" ng-show="enrollmentDataform.midl.$invalid && enrollmentDataform.midl.$touched">Please Enter MiddleName</p>
                                </div>

                                 <!-- <label class="control-label col-sm-2" for="">Candidate Name</label> -->
                                <div class="col-sm-4">
                                   <input type="text" name="las" class="form-control inputEle" ng-model="enrollmentData.lastname" placeholder="Enter Surname" ng-required="true" >
                                   <div class="clearfix"></div>
                                   <p class="error" ng-show="enrollmentDataform.las.$invalid && enrollmentDataform.las.$touched">Please Enter LastName</p>
                                </div>
                              </div>

                              <hr>
                              <div class="form-group">
                                  <input type="hidden" ng-model="enrollmentData.cCourseId">
                                  <input type="hidden" ng-model="enrollmentData.cDiscountId">
                                  <input type="hidden" ng-model="enrollmentData.amount">
                                  <input type="hidden" ng-model="enrollmentData.cBatchId"> 
                                </div>
                                

                                 <div class="form-group required">
                                    <label class="control-label col-sm-2" for="">Course</label>
                                    <div class="col-sm-3">
                                        <select ng-model="enrollmentData.cCourseId" name="cou" class="form-control inputEle" ng-options="co.cCourseId as co.coursename for co in Course" ng-change="courseChange(enrollmentData.cCourseId)" ng-required="true">
                                          <option value="">Select Course</option>
                                        </select> 
                                        <div class="clearfix"></div>
                                        <p class="error" ng-show="enrollmentDataform.cou.$invalid && enrollmentDataform.cou.$touched">Please Select Course</p>
                                    </div>
                                    <label class="control-label col-sm-2" for="" style="text-align: left;"><b>Course Fee: {{totalFee}}</b></label>


                                    <label class="control-label col-sm-2" for="">Apply Discount</label>
                                    <div class="col-sm-3">
                                       <label class="radio-inline">
                                       <input type="radio"  ng-model="Auto" name="Auto" value="One" ng-click="oneClick()" ng-required="true" ng-checked="percentageChecked">From List
                                       </label>
                                       <label class="radio-inline">
                                       <input type="radio" ng-model="Auto"  name="Auto" value="Two" ng-click="twoClick1()" ng-required="true" ng-checked="amountChecked">Enter Manually
                                       </label>
                                    </div>
                                 </div>

                                     <div class="form-group">

                                        <label class="control-label col-sm-2" for="">Discount</label>
                                        <div class="col-sm-3" ng-show="Auto == 'One' || showList">
                                            <select ng-model="enrollmentData.cDiscountId" class="form-control inputEle" ng-options="co.cDiscountId as co.title for co in Discount" ng-change="discountChange(enrollmentData.cDiscountId)">
                                              <option value="">Select Discount</option>
                                            </select> 
                                        </div>

                                        <div class="col-sm-3" ng-show="Auto == 'Two' || showAmt">
                                           <input type="number"  class="form-control inputEle" ng-model="manualamount" placeholder="Enter Amount" ng-blur="manualAmtMinus(manualamount)" ng-required="true" ng-required="true">     
                                        </div>

                                        <label class="control-label col-sm-2" style="text-align: left;" for="" ng-hide="manualLabel">
                                        <b>Discount(%): {{DiscountPercentage}}</b>
                                        </label>
                                        <label class="control-label col-sm-3" style="text-align: left;" for="" ng-hide="manualDiscLabel">
                                        <b>Discount Amount (Rs): {{manualamount}}</b>
                                        </label>
                                        <label class="control-label col-sm-2" style="text-align: left;padding: 5px;background-color: #ddd;" for="">
                                        <b>Total Fee: {{calculatedFee}}</b>
                                        </label>
                                        
                                     </div>


                                  <div class="form-group required">
                                  <label class="control-label col-sm-2" for="">Batch</label>
                                    <div class="col-sm-4">
                                      <select ng-model="enrollmentData.cBatchId" name="bat" class="form-control inputEle" ng-options="btch.cBatchId as btch.batchname for btch in Batch" ng-required="true">
                                        <option value="">Select Batch</option>
                                      </select> 
                                       <div class="clearfix"></div>
                                     <p class="error" ng-show="enrollmentDataform.bat.$invalid && enrollmentDataform.bat.$touched">Please Select Batch</p>
                                    </div>
                                  </div>
                                <hr>

                               <div class="form-group">
                                 <label class="control-label col-sm-2" for="">College/Company Name</label>
                                  <div class="col-sm-4">
                                     <input type="text" name="compname" class="form-control inputEle" ng-model="enrollmentData.collegename" placeholder="Enter College/Company Name">
                                     <!-- <div class="clearfix"></div>
                                    <p class="error" ng-show="enrollmentDataform.compname.$invalid && enrollmentDataform.compname.$touched">Please Enter Company Name</p> -->
                                  </div>

                                  <label class="control-label col-sm-2" for="">Status</label>
                                  <div class="col-sm-4">
                                      <select ng-model="enrollmentData.cStatusId" class="form-control inputEle" name="sta" ng-options="enq.cStatusId as enq.statusname for enq in EnquiryStatus" ng-required="true">
                                        <option value="">Select Enquiry Status</option>
                                      </select>
                                       <div class="clearfix"></div>
                                    <p class="error" ng-show="enrollmentDataform.sta.$invalid && enrollmentDataform.sta.$touched">Please Enter Status</p>
                                  </div>
                             </div>

                              <input type="hidden" ng-model="enrollmentData.cBatchId">
                               
                             <div class="form-group required">
                              <label class="control-label col-sm-2" for="">Address</label>
                                <div class="col-sm-10">
                                   <textarea class="form-control inputEle" name="addr" ng-model="enrollmentData.presentaddress" placeholder="Enter Permenant Address"  ng-required="true" > </textarea>
                                   <div class="clearfix"></div>
                                    <p class="error" ng-show="enrollmentDataform.addr.$invalid && enrollmentDataform.addr.$touched">Please Enter Address</p>
                                </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label col-sm-2" for="">Local Area</label>
                              <div class="col-sm-4">
                                 <input type="text" name="enquirylocal" class="form-control inputEle" ng-model="enrollmentData.localarea" placeholder="Enter Local Area">
                              </div>
                              <label class="control-label col-sm-2" for="">Native Place</label>
                              <div class="col-sm-4">
                                <input type="text" name="enquirynative" class="form-control inputEle" ng-model="enrollmentData.nativeplace" placeholder="Enter Native Place">
                              </div>
                           </div>
                           <div class="form-group required">
                              <label class="control-label col-sm-2" for="">Gender</label>
                              <div class="col-sm-4">
                                 <label class="radio-inline">
                                 <input type="radio" name="gender" ng-model="enrollmentData.gender" value="Male" ng-required="true">Male
                                 </label>
                                 <label class="radio-inline">
                                 <input type="radio" name="gender" ng-model="enrollmentData.gender" value="Female" ng-required="true">Female
                                 </label>
                                 <label class="radio-inline">
                                 <input type="radio" name="gender" ng-model="enrollmentData.gender" value="Transgender" ng-required="true">Transgender
                                 </label>
                              </div>
                              <label class="control-label col-sm-2" for="">Marital Status</label>
                              <div class="col-sm-4">
                                 <label class="radio-inline">
                                 <input type="radio" name="mt" ng-model="enrollmentData.maritalstatus" value="Unmarried" ng-required="true">Unmarried
                                 </label>
                                 <label class="radio-inline">
                                 <input type="radio" name="mt" ng-model="enrollmentData.maritalstatus" value="Married" ng-required="true">Married
                                 </label>
                                 <label class="radio-inline">
                                 <input type="radio" name="mt" ng-model="enrollmentData.maritalstatus" value="Divorce" ng-required="true">Divorce
                                 </label>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label col-sm-2" for="">Landline</label>
                              <div class="col-sm-4">
                                 <input type="text" class="form-control inputEle" ng-model="enrollmentData.telresource" restrict-to="[0-9]"> 
                              </div>
                              <label class="control-label col-sm-2 mandatory" for="">Contact No.</label>
                              <div class="col-sm-4">
                                 <input type="number" name="cont" class="form-control inputEle" ng-model="enrollmentData.contactno" placeholder="Enter Contact Number" ng-required="true" ng-required="true" maxlength="10" minlength="10" required >
                                 <div class="clearfix"></div>
                                 <p class="error" ng-show="enrollmentDataform.cont.$invalid && enrollmentDataform.cont.$touched">Please Enter Contact No</p>
                              </div>
                           </div>

                           <div class="form-group">
                              <label class="control-label col-sm-2 mandatory" for="">Email Id</label>
                                <div class="col-sm-4">
                                   <input type="email" name="emai" class="form-control inputEle" ng-model="enrollmentData.email" placeholder="Enter Email Id" ng-required="true" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/">
                                   <div class="clearfix"></div>
                                 <p class="error" ng-show="enrollmentDataform.emai.$invalid && enrollmentDataform.emai.$touched">Please Enter Email Id</p>
                                </div>
                                <label class="control-label col-sm-2" for="">Alternate Email Id</label>
                                <div class="col-sm-4">
                                   <input type="email" name="altemail" class="form-control inputEle" ng-model="enrollmentData.alternateemail" placeholder="Enter Email Id"ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/">
                                </div>
                             </div>
                                       
                           <div class="form-group required">
                             <label class="control-label col-sm-2" for="">Date Of Birth</label>
                              <div class="col-sm-4">
                                 <datepicker date-format="yyyy-MM-dd" date-max-limit= "{{currentDate}}">
                                    <input ng-model="enrollmentData.dob" name="dob" placeholder="Enter Birthdate" class="form-control" type="text" restrict-to="[0-9]" ng-required="true"/>
                                 </datepicker>
                                 <div class="clearfix"></div>
                               <p class="error" ng-show="enrollmentDataform.dob.$invalid && enrollmentDataform.dob.$touched">Please Enter Contact No</p>
                              </div>

                             <label class="control-label col-sm-2" for="">Candidate Type</label>
                            <div class="col-sm-4">
                                <select ng-model="enrollmentData.cStatusId" name="candi" class="form-control inputEle" ng-options="enq.cStatusId as enq.statusname for enq in EnquiryStatus" ng-required="true">
                                  <option value="">Select Status</option>
                                </select>
                                <div class="clearfix"></div>
                               <p class="error" ng-show="enrollmentDataform.candi.$invalid && enrollmentDataform.candi.$touched">Please Select Candidate Type</p>
                            </div> 
                           </div>

                           <div class="form-group">
                            <label class="control-label col-sm-2 mandatory" for="">Hear About Us</label>
                             <div class="col-sm-4">
                                <select ng-model="enrollmentData.cSourceId" name="hear" class="form-control inputEle" ng-options="enq.cSourceId as enq.sourcename for enq in Source" ng-required="true" ng-change="sourceChange(enrollmentData.cSourceId, Source)">
                                  <option value="">Select Source Name</option>
                                </select>
                                <div class="clearfix"></div>
                                <p class="error" ng-show="enrollmentDataform.hear.$invalid && enrollmentDataform.hear.$touched">Please Select Hear About Us</p>
                            </div>

                             <div ng-show="showStudent">
                                <label class="control-label col-sm-2" for="">Select Student</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="enrollmentData.reference" disabled>
                                </div>
                              </div>

                              <div ng-show="showStaff">
                                <label class="control-label col-sm-2" for="">Select Staff</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="enrollmentData.reference" disabled>
                                </div>
                              </div>
                           </div>

                             <div class="form-group">
                                <label class="control-label col-sm-2" for="">Sub-Status</label>
                                <div class="col-sm-4" >
                                    <select ng-model="enrollmentData.statusenroll" class="form-control inputEle" ng-change="OnEnrollchange(enrollmentData.statusenroll)">
                                      <option value="Draft">Draft</option>
                                       <option value="Completed">Completed</option>
                                    </select>
                                </div>

                                <label class="control-label col-sm-2" for="">Highest Qualification</label>
                                <div class="col-sm-4">
                                    <select ng-model="enrollmentData.cDegreeId" name="high" class="form-control inputEle" ng-options="stf.cDegreeId as stf.degreename for stf in HighestQualification">
                                    </select>
                                </div>
                                
                              </div>

                              <div class="form-group">
                                <label class="control-label col-sm-2 mandatory" for="">Year of Passing</label>
                                <div class="col-sm-4">
                                   <input type="number" name="yearofpassing" class="form-control inputEle" ng-model="enrollmentData.yearofpassing" placeholder="Enter Year of Passing" ng-required="true">
                                   <div class="clearfix"></div>
                                    <p class="error" ng-show="enrollmentDataform.yearofpassing.$invalid && enrollmentDataform.yearofpassing.$touched">Please Enter Year of Passing</p>
                                </div>
                              </div>

                              <div class="clearfix"></div>
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="">Assign To</label>
                                <div class="col-sm-4">
                                    <select ng-model="enrollmentData.assignto" class="form-control inputEle" ng-options="stf.adUserId as (stf.firstname + ' ' + stf.middlename + ' ' + stf.lastname) for stf in Staff" disabled>
                                    </select>
                                </div>
                              </div>

                            <br>
                            <div class="form-group required">
                                <div class="col-md-12 text-center">
                                    <!-- <button type="submit" class="btn btn-success">Update</button> -->
                                </div>
                            </div>
                        </form>
                        <!-- tab starts -->
                        <div id="exTab2">
                            <ul class="nav nav-tabs">
                                
                                <li ng-class="{active:Inst.isSet(1)}">
                                    <a ng-click="Inst.setTab(1)">Profile</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(2)}" ng-click="showSchoolList()">
                                    <a ng-click="Inst.setTab(2)">Qualification</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(3)}" ng-click="showTeacherList()">
                                    <a ng-click="Inst.setTab(3)">Documents</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(4)}">
                                    <a ng-click="Inst.setTab(4)">Schedule</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(5)}">
                                    <a ng-click="Inst.setTab(5)">Payment</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(6)}">
                                    <a ng-click="Inst.setTab(6)">Trainer Feedback</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(7)}">
                                    <a ng-click="Inst.setTab(7)">Placement</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(8)}">
                                    <a ng-click="Inst.setTab(8)">Activity</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(9)}">
                                    <a ng-click="Inst.setTab(9)">Selection Form</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(10)}">
                                    <a ng-click="Inst.setTab(10)">Score Board</a>
                                </li>
                                <li ng-class="{active:Inst.isSet(11)}">
                                    <a ng-click="Inst.setTab(11)">Specialisation</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                
                                 <!--===========================
                                =            Tab 1            =
                                ============================-->
                                <div class="tab-pane active" ng-show="Inst.isSet(1)">

                                    <div ng-if="Inst.isSet(1)" ng-include="'view/pages/Sales/Enrollment/Profile/EnProfile.html'"></div>
                                     
                                </div>
                                <!--====  End of Tab 1  ====-->


                                <!--===========================
                                =            Tab 2            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(2)">
                                     
                                    <div ng-if="Inst.isSet(2)" ng-include="'view/pages/Sales/Enrollment/Qualification/EnQualification.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 2  ====-->

                                <!--===========================
                                =            Tab 3            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(3)">
                                     
                                     <div ng-if="Inst.isSet(3)" ng-include="'view/pages/Sales/Enrollment/Documents/EnDocuments.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 3  ====-->

                                <!--===========================
                                =            Tab 4            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(4)">
                                     
                                    <div ng-if="Inst.isSet(4)" ng-include="'view/pages/Sales/Enrollment/Schedule/EnSchedule.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 4  ====-->

                                <!--===========================
                                =            Tab 5            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(5)">
                                     
                                     <div ng-if="Inst.isSet(5)" ng-include="'view/pages/Sales/Enrollment/Payment/EnPayment.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 5  ====-->

                                <!--===========================
                                =            Tab 6            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(6)">
                                     
                                     <div ng-if="Inst.isSet(6)" ng-include="'view/pages/Sales/Enrollment/Trainer Feedback/Trainerfeedback.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 6  ====-->

                                <!--===========================
                                =            Tab 7            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(7)">
                                     
                                     <div ng-if="Inst.isSet(7)" ng-include="'view/pages/Sales/Enrollment/Placement/EnPlacement.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 7  ====-->

                                <!--===========================
                                =            Tab 8            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(8)">
                                     
                                     <div ng-if="Inst.isSet(8)" ng-include="'view/pages/Sales/Enrollment/Activity/EnActivities.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 8  ====-->

                                <!--===========================
                                =            Tab 9            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(9)">
                                     
                                     <div ng-if="Inst.isSet(9)" ng-include="'view/pages/Sales/Enrollment/Selection Form/Selectionform.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 9  ====-->

                                <!--===========================
                                =            Tab 10            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(10)">
                                     
                                     <div ng-if="Inst.isSet(10)" ng-include="'view/pages/Sales/Enrollment/Score Board/Scoreboard.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 10  ====-->

                                 <!--===========================
                                =            Tab 11            =
                                ============================-->
                                
                                <div class="tab-pane active" ng-show="Inst.isSet(11)">
                                     
                                     <div ng-if="Inst.isSet(11)" ng-include="'view/pages/Sales/Enrollment/Specialisation/Specialisation.html'"></div>

                                </div>
                                
                                <!--====  End of Tab 11  ====-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end controller div -->
    </div>


</div>


<script src="view/pages/Sales/Enrollment/EnrollmentCtrl.js"></script>